@import "bootstrap/bootstrap.less";

body {
  /*
padding-top: 60px;
  padding-bottom: 40px;
*/
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: D Shepherd
   ========================================================================== */

body {
	background-color: #222;
	height: 900px;
	background-image: url(../img/bg/txture.png);
}

.container {
}

.media-type {
	font-family: Georgia;
	font-style: italic;
	letter-spacing: -0.05em;
	margin-top: 20px;
	font-size: 1.4em;
	color: #343434;
}

.video-holder, .twitter, .wordriver, .flickr, .maps {
	margin-top: 20px;
	text-align: center;
	height: 315px;
	background-color: #111;
}

.twitter {
	color: #adadad;
}

.content-div {
	height: 315px;
}

.wordriver {
	overflow: visible;
}
